body,
html {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  position: absolute;
  z-index: 2;
  color: white;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}

nav p{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}

.title{
  position: absolute;
  display: flex;
  top: 75%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -75%);
  font-size: 2rem;
  color: white;
}